{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "printWidth": 140,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "jsxBracketSameLine": false,
        "semi": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 140,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "jsxBracketSameLine": false,
        "semi": false
      }
    }
  ]
}